sudo: false
language: cpp

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libboost-all-dev
      # - libopenmpi-dev


matrix:
  include:
    - os: linux
      compiler: gcc
   # - os: osx
     # compiler: clang

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh && bash Miniconda3-latest-Linux-x86_64.sh -b -p _miniconda;  else  wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh && bash Miniconda3-latest-MacOSX-x86_64.sh -b -p _miniconda; fi
  - export PATH="$PWD/_miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda install meson mpich2

install: true

script:
  - pushd 01_basic && mkdir bcmake && cd bcmake && cmake .. && make && cd .. && meson bmeson && cd bmeson && ninja && popd
  - pushd 02_shared_libraries && mkdir bcmake && cd bcmake && cmake .. && make && cd .. && meson bmeson && cd bmeson && ninja && popd
  - pushd 03_modularity && mkdir bcmake && cd bcmake && cmake .. && make && cd .. && meson bmeson && cd bmeson && ninja && popd
  - pushd 04_tests && mkdir bcmake && cd bcmake && cmake .. && make && ctest && cd .. && meson bmeson && cd bmeson && ninja && meson test && popd
  - pushd 05a_external_library && mkdir bcmake && cd bcmake && cmake .. && make && cd .. && meson bmeson && cd bmeson && ninja && popd
  - pushd 05b_external_library && mkdir bcmake && cd bcmake && cmake .. && make && cd .. && meson bmeson && cd bmeson && ninja && popd
  - pushd 06_unit_tests && meson bmeson && cd bmeson && ninja && meson test && cd .. && mkdir bcmake && cd bcmake && cmake -DGTEST_DIR=$PWD/../subprojects/googletest-release-1.8.0/ .. && make && ctest && popd
  - pushd 07_customization && meson -DENABLE_TESTING=true bmeson && cd bmeson && ninja && meson test && cd .. && mkdir bcmake && cd bcmake && cmake -DGTEST_DIR=$PWD/../subprojects/googletest-release-1.8.0/ -DENABLE_TESTING=ON .. && make && ctest && popd
  - pushd 08a_mpi && CXX=mpicxx meson bmeson && cd bmeson && ninja && rm -rf * && cmake -DCMAKE_CXX_COMPILER=mpicxx .. && make && popd
  - pushd 08b_mpi && meson bmeson && cd bmeson && ninja && rm -rf * && cmake .. && make && popd


